img[src$='#center'] {
  display: block;
  margin: 0.7rem auto;
}

video {
  max-width: 100%;
  height: auto;
}

.entry-content {
  font: normal 1.10em KaTeX_Main,Times New Roman,serif;
  line-height: 1.5;
}

span.katex {
  font: normal 1.05em KaTeX_Main,Times New Roman,serif;
}

code {
  font-family: "Fantasque Sans Mono";
  font-size: .75em;
}

p {
  margin: 0 0 1em;
}

ol, ul {
  margin: 0 0 1em 1em;
}
